

_operations/
_archive/
_analysis/Depth-Mapping/coverages/TAa07244
# IGNORE CERTAIN FILETYPES
/Humminbird-Blackjack/
#*.accdb

*.Rdata
*.las
*.e00
*.ovr
*.adf
*.zip

# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# =========================
# Operating System Files
# =========================
# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.httr-oauth
_analysis/Depth-Mapping/.Rhistory
_analysis/.Rhistory
_analysis/Anglers/.Rhistory
_analysis/bluff-lake-model/.Rhistory
_analysis/bluff-lake-model/_dat/.Rhistory
_analysis/Depth-Mapping/.Rhistory
_analysis/Depth-Mapping/.Rhistory
_analysis/Depth-Mapping/.Rhistory
_analysis/Fish/.Rhistory
_analysis/Depth-Mapping/.Rhistory
_analysis/Depth-Mapping/.Rhistory
_analysis/bluff-lake-model/_dat/All_Years_All_Elevations_Discharge_Sims.csv
